.App {
  flex-direction: column;
  height: 100vh;
  font-family: var(--font-family);
}

.App-body {
  min-height: 0;
  width: 100%;
}

.App-content {
  position: relative;
  overflow-y: auto;
  margin-top: 50px;
  margin-left: 200px;
  height: calc(100vh - 50px);
  padding: 20px;
  background-color: #f5f5f5;
  transition: margin-left 0.3s ease;
}

.App-content.collapsed {
  margin-left: 50px;
}
