.App {
  flex-direction: column;
  height: 100vh;
  font-family: var(--font-family);
}

.App-body {
  min-height: 0;
  width: 100%;
}

.App-content {
  margin-top: 50px;
  margin-left: 200px;
  height: calc(100vh - 50px);
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: #f5f5f5;
}
